<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Puffery (Local).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Puffery Intents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Puffery IntentsUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Puffery.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA952508245EC51900FFC9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA952511245EC51900FFC9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF1545F2444BB4400EDB97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF154782444BB4600EDB97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF154832444BB4600EDB97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
